@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-gray: #17181B;
  --color-black: #000000;
  --color-white: #FCFCFC;
  --color-brand: #76FF03;
  --color-buttonBg: #414143;
}


