@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-gray: #17181B;
  --color-black: #000000;
  --color-white: #FCFCFC;
  --color-pale-white: #efefef;
  --color-brand: #76FF03;
  --color-buttonBg-dark: #414143;
  --color-buttonBg-light: #ebebeb;

  --animate-rotate-border: border-rotate 12s linear infinite;

  @keyframes border-rotate{
    to {
      --border-angle: 360deg
    }
  }

}

::view-transition-old(root),
::view-transition-new(root){
  animation: none;
  mix-blend-mode: normal;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

@property --border-angle{
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}
